<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Previsão do Tempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card class="tempo">
      <ion-card-header>
        <ion-card-title>Lençois Paulista <ion-icon name="sunny-outline"></ion-icon> 25°</ion-card-title>
      </ion-card-header>


      <ion-grid>
        <strong>
        <ion-row>
          <ion-col>
            <div>Dia</div>
          </ion-col>
          <ion-col>
            <div>Min/Max</div>
          </ion-col>
          <ion-col>
            Previsão
          </ion-col>
        </ion-row>
      </strong>
      </ion-grid>



      <ion-grid>
        <ion-row>
          <ion-col>
            15/08
          </ion-col>
          <ion-col>
            21°/30°
          </ion-col>
          <ion-col>
            Ensolarado
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            16/08
          </ion-col>
          <ion-col>
            19°/28°
          </ion-col>
          <ion-col>
            Chuvoso
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            17/08
          </ion-col>
          <ion-col>
            15°/29°
          </ion-col>
          <ion-col>
            Nublado
          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-card>

</ion-content>
